* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BACKGROUND COLORS*/
.section-bg-black {
    background: #0b0b14;
}

.section-bg-green {
    background: #09DCB5;
}

.section-bg-white {
    background: #fbfbfb;
}

/*SIDEBAR*/
#sidebar {
    min-width: 250px;
    max-width: 250px;
    max-height: 100vh;
    color: #ffffff;
    overflow-y: hidden;
    bottom: 0;
    position: sticky;
    top: 0;
    transition: all 0.3s;
    border-right: 2px solid rgb(152, 138, 138);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #6d7fcc;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul a {
    color: #030303;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: rgb(255, 255, 255);
}

#sidebar ul li a:hover {
    color: #0d0d0d;
    background: #b8b8bb;
    border-radius: 10px;
    font-weight: bold;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: '';
    border: solid transparent;
    border-width: 0.3em 0.3em 0 0;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}

.dropdown-menu.show {
    display: block;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
/*
.hamburger {
    display: none;
}
*/
/*CONTENT*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

.wrapper.active {
    overflow-x: hidden;
    /* Ensure no horizontal scroll when active */
}

.inner-content {
    padding-bottom: 20px;
    width: 100%;
}



/*CONTENT*/
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.content-item {
    display: none;
}


.carousel img {
    border: 5px solid black;
    border-radius: 5%;
    height: 500px;
    max-height: 100%;
}

.cssIntro {
    border: 3px solid black;
    border-radius: 20px;
}

.cssSample {
    border-radius: 18px;
    background-color: #e7e7e7;
    width: 850px;
    max-width: 100%;
    overflow-y: auto;
}

.code-block {
    border-radius: 5px;
    border-left: 5px solid #0f3862;
    background-color: whitesmoke;
    padding: 1rem;
}

.code-block .prg1 {
    text-wrap: wrap;
}

.code-line {
    margin: 0;
}

.info {
    background-color: #90a8d3;
    font-size: 1rem;
}

.backBtn:hover {
    background-color: #dededea1;
}

.next-button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.next-button:hover {
    background-color: white;
    color: #0f3862;
    transition: 0.5s;
}

.search-container {
    position: relative;
    width: 100%;
}

.safeFont li {
    font-weight: normal;
    font-size: small;
    margin-bottom: 10px;
}

#searchicon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#searchicon img {
    width: 20px;
    height: 20px;
}

#searchstring {
    width: 100%;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    font-size: 16px;
}

#cssproperties {
    margin: 0;
    padding: 0;
}

#stats2 {
    width: 100%;
    height: 0;
}



/** CAMERA LAYOUT **/

.inner-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


/* Each row in camera-feed should take up half the available height */
.camera-feed {  
    height: 100%;
}

/* Ensures video containers fill their available space */
.video-container {
    height:100%;
    position:relative;
}

/* Style for the camera frames to make them responsive */
.camera-frame {
    width: 100%;           /* Fills the container width */
    height: auto;           /* Scales proportionally */
    max-height: 100%;       /* Ensures it doesn't exceed container height */
    object-fit: cover;      /* Maintains aspect ratio without distortion */
}

/* Adjust layout on smaller screens */
@media (max-width: 768px) {
    .camera-feed {
        flex-direction: column;
    }
    .video-container {
        height: 50%; /* Each camera feed takes up half of the viewport height */
    }
}


.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullscreen img {
    width: 80%;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
}

.esc-notification {
    position: absolute;
    top: 20px;
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.5s;
}

/*RESPONSIVENESS*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .hamburger {
        display: block;
    }
}


@media (max-width: 576px) {
    .hamburger span.d-none {
        display: none;
    }

    .hamburger span.d-sm-inline {
        display: none;
    }

    .hamburger span.d-inline {
        display: inline;
    }
}

@media (min-width: 577px) {
    .hamburger span.d-inline {
        display: none;
    }

    .hamburger span.d-sm-inline {
        display: inline;
    }
}

.data_table .btn {
    padding: 5px 10px;
    margin: 10px 3px 10px 0;
}

.modal .btn-close {
    filter: invert(1);
    /* Makes the 'X' icon white */
}

.modal-header {
    background-color: #000000;
}

.modal-body {
    background-color: rgb(244, 244, 244);
}

.modal-content {
    height: 90vh;
    overflow: auto;
}



#saveEditBtn {
    background-color: #50a742;
    color: white;
}