* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0d0d0d;
}

/* nav {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.05);
} */

.active {
    text-decoration: underline;
    color: #000000;
}

.offcanvas-header {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown-menu a {
    color: #272424;
    letter-spacing: 1px;
}

.dropdown-menu a:hover {
    background-color: #6565652f;
    letter-spacing: 1px;
}

.nav-link {
    letter-spacing: 1px;
    color: #ffffff;
}

.nav-link:hover {
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow:0px 0px 20px  #09dcb5;
}


#nav-menu:hover {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 100% 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
}

.dropdown-item {
    color: #272424;
    letter-spacing: 1px;
}

.dropdown-item:hover {
    background-color: rgb(48, 86, 86, .09);
}

.offcanvas-body {
    padding-top: 1rem;
}

.hero-title{
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(9, 220, 181, 0.8);
}


.title{
    font-size: 50px;
    font-weight: 850;
}

.title2{
    font-size: 100px;
    font-weight: 850;
    letter-spacing: 5px;
    text-shadow: 0px 0px 45px rgba(9, 220, 181, 0.9);
    animation: textShadowFade 3s infinite ease-in-out; /* Add animation */
}

@keyframes textShadowFade {
    0% {
        text-shadow: 0px 0px 10px rgba(9, 220, 181, 0); /* Faded out */
    }
    50% {
        text-shadow: 0px 0px 45px rgba(9, 220, 181, 0.9); /* Full glow */
    }
    100% {
        text-shadow: 0px 0px 5px rgba(9, 220, 181, 0); /* Faded out again */
    }
}

#btnLogin {
    background-color: white;
    color: #272424;
}

#btnLogin:hover {
    color: #09DCB5;
}

#btnLearnMore:hover {
    color: #09DCB5;
    box-shadow: 0px 0px 10px 0px rgb(9, 220, 181, .8);
}


.section-bg-black {
    background: #0b0b14;
}

.section-bg-green{
    background: #09DCB5;
}

.section-bg-white{
    background: #fbfbfb;
}

.form-control{
    outline:none;
}

#col-1 {
    background: linear-gradient(to bottom, #0d0d0d, #0b0b14);
}

#btn-submit {
    background: linear-gradient(to bottom, #0d0d0d, #0b0b14);
    color: white;
}

#btn-submit:hover {
    opacity: .8;
}

.hero-title{
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(9, 220, 181, 0.8);
}

.section-bg-black {
    background: #0b0b14;
}

.section-bg-green{
    background: #09DCB5;
}

.section-bg-white{
    background: #fbfbfb;
}


.title{
    font-size:25px;
    font-weight: 850;
}

.title2{
    font-size: 100px;
    font-weight: 850;
    letter-spacing: 5px;
    text-shadow: 0px 0px 45px rgba(9, 220, 181, 0.9);
    animation: textShadowFade 3s infinite ease-in-out; /* Add animation */
}

@keyframes textShadowFade {
    0% {
        text-shadow: 0px 0px 10px rgba(9, 220, 181, 0); /* Faded out */
    }
    50% {
        text-shadow: 0px 0px 45px rgba(9, 220, 181, 0.9); /* Full glow */
    }
    100% {
        text-shadow: 0px 0px 5px rgba(9, 220, 181, 0); /* Faded out again */
    }
}



footer {
    background-color: #000000;
}
/*Responsive*/
@media (min-width: 640px) {
    .subfeature-heading {
        font-size: 50px;
    } 
}

@media (max-width: 767px) {
    .title{
        font-size: 18px;
    }
    
    .title2{
        font-size: 60px;
        font-weight: 850;
        letter-spacing: 5px;
        text-shadow: 0px 0px 45px rgba(9, 220, 181, 0.9);
        text-align: start;
    }
}

@media (min-width: 992px) {
    .subfeature-heading {
        margin-top: 7rem;
    }
}

@media (max-width: 991.98px) {
    .offcanvas-body {
        background: #0b0b144b;
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
        border: 1px solid #0b0b1459;
    }

    .dropdown-menu {
        background: transparent;
        border: none;
    }

    .offcanvas {
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
    }

    .nav-item {
        margin-bottom: 6px;
        text-align: start;
    }

    .navbar-nav {
        background-color: #0b0b14;
        padding: 20px;
        border-radius: 20px;
    }

    .active {
        color: rgb(255, 255, 255);
    }

    .dropdown-menu a {
        color: #ffffff;
        letter-spacing: 1px;
    }

    .nav-link {
        letter-spacing: 1px;
        color: #ffffff;
    }
    
    .nav-link:hover {
        letter-spacing: 1px;
        color: #ffffff;
    }


}

#footerhover {
    color: white;
}

#footerhover:hover {
    color: #09DCB5;
}