<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPECTR | Human Detection</title>

    <link rel="shortcut icon" href="../../static/images/logo/SPECTR-logo-new.png" type="image/x-icon">

    <!-- Boostrap v5.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--CSS -->
    <link rel="stylesheet" href="../../static/css/content_layout.css">

    <!-- Atropos JS -->
    <link rel="stylesheet" href="../../atropos/atropos.min.css">

    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>

   <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark py-0 px-3 fixed-top" aria-label="Offcanvas navbar large" id="navbar">
        <div class="container-fluid section-bg-black">
            <div class="d-flex align-items-center justify-content-center text-center">
                <a class="navbar-brand" href="../index" style="cursor: pointer;">
                    <img class="brand-logo" src="../../static/images/logo/SPECTR-logo-new-without-S.png" alt="SPECTR" height="70" loading="lazy"/>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <img class="brand-logo" src="../../static/images/logo/SPECTR-logo-new.png" alt="SPECTR" height="70" loading="lazy" />
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-4">
                        <li id="nav-menu" class="nav-item dropdown px-2">
                            <a class="nav-link dropdown-toggle fw-bolder" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Solutions
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="shoplifting">Shoplifting</a></li>
                                <li><a class="dropdown-item" href="robbery">Robbery</a></li>
                                <li><a class="dropdown-item" href="">Human Detection</a>
                                </li>
                            </ul>
                        </li>
                        <li id="nav-menu" class="nav-item px-2">
                            <a class="nav-link fw-bolder" href="../about-us">About Us</a>
                        </li>
                        <li id="nav-menu" class="nav-item px-2">
                            <a class="nav-link fw-bolder" href="../contact_us">Contact Us</a>
                        </li>
                        <li class="nav-item px-2">
                            <a id="btnLogin" class="nav-link fw-bold px-4 text-center border rounded-5"
                                href="../login" target="_blank">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Navbar-->

    <!--Hero Page-->
    <section class="section-bg-black">
        <div class="section1 py-4 container col-xxl-12">
            <div class="row flex-lg-row-reverse justify-content-center align-items-center mt-5">
                <div class="col-xxl-6 col-sm-12 col-lg-6">
                    <div class="atropos my-atropos">
                        <div class="atropos-scale">
                            <div class="atropos-rotate">
                                <div class="atropos-inner">
                                    <img src="../../static/images/gif/sample.gif" class="img-fluid w-90 mx-auto" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="title text-light" data-aos="zoom-in-right" data-aos-duration="1200">Human <br> Detection System</h1>
                    <p class="lead fs-5 mt-3 text-white" data-aos="fade-right" data-aos-duration="1200">The process of identifying and locating individuals
                        within a video footage to detect human shapes, movements, and behaviors.
                        Our advanced systems use AI-powered analytics to accurately identify and track individuals,
                        enhancing safety and minimizing false alarms.</p>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1724488627">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class="shape-fill" fill="#yourColorHere"></path>
            </svg>
        </div>
    </section>

    <!-- Features -->
    <div class="section-bg-white">
        <main class="container p-2 p-sm-4">
            <div class="d-flex flex-column text-center pt-3 pb-2 pb-sm-5">
                <p class="lead text-dark text-center" style="margin-bottom: -10px;">Boost Store Security with</p>
                <p class="title text-center text-dark">Advanced Human Detection</p>
                <div class="px-5">
                    <p class="lead text-dark text-center px-5" style="margin-bottom: -20px;">Be at ease with our advanced solutions designed for your needs
                    </p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="d-flex flex-column flex-sm-row flex-md-row py-5 justify-content-center p-5">
                    <div class="d-flex justify-content-center align-items-center m-3 w-50"> 
                        <img src="../../static/images/Convenient-store-1.jpg" alt="" class="img-fluid">
                    </div>
        
                    <div class="d-flex justify-content-center align-items-center m-3 w-50"> 
                        <img src="../../static/images/Convenient-store-2.jpg" alt="" class="img-fluid">
                    </div>
        
                    <div class="d-flex justify-content-center align-items-center m-3 w-50"> 
                        <img src="../../static/images/Convenient-store-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="container d-flex flex-column text-center pt-3 pb-2 pb-sm-5 ">
                <p class="lead text-dark text-center px-5">With the continuous advancement Artificial Intelligence, SPECTR developed a system that effectively and efficiently provides solutions for the risks shoplifting and theft acts. Utilizing latest AI technology, this system is designed to work in real-time, detecting malicious acts with immediate alerts and notification.<br> <br>Unlike existing traditional systems that relies on human observation, SPECTR with the use of AI can monitor 24/7 with precise detection and real-time alerts and analytics ensuring safety and reliable data. </p>
            </div>


            <div class="section-bg-white">
                <main class="container py-5 px-3 px-sm-2">
                    <div class="row sub-feature">
                        <div class="col-md-7 order-md-2 px-2 px-sm-5 my-auto">
                            <h2 class="subfeature-heading">Staff Identification</h2>
                            <p class="lead mt-4 mt-sm-5 text-dark">Implementing human detection for staff identification excludes the staffs for shoplifitng alerts since there are acts that might be detected as malicious acts like when they are restocking items from the stall. This allows focused monitoring and enchanced measures in retail establishment.</p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img id="img-section2" src="../../static/images/gif/sample8.gif" class="img-fluid rounded-5" alt=""
                                style="width: 500px; height: 500px;" data-aos="flip-right" data-aos-duration="1500">
                        </div>
                    </div>


                    <div class="row sub-feature mx-2">
                        <div class="col-md-7 px-2 px-sm-5 my-auto">
                            <h2 class="subfeature-heading">Lorem, ipsum dolor.</h2>
                            <p class="lead mt-4 mt-sm-5 text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Illum molestiae veniam sint temporibus deserunt sunt libero facere eius sit
                                quibusdam impedit, delectus qui. Nihil repellendus blanditiis atque sed quaerat labore.
                            </p>
                        </div>
                        <div class="col-md-5 mx-auto d-flex justify-content-center align-items-center">
                            <img id="img-section2" src="../../static/images/gif/sample8.gif" class="img-fluid rounded-5" alt=""
                                style="width: 500px; height: 500px;" data-aos="flip-right" data-aos-duration="1500">
                        </div>
                    </div>
                </main>
            </div>
        </main>
    </div>

    <footer class="text-center text-lg-start text-muted pt-1 px-2">
        <section class="container">
            <div class="row mt-5">
                <div class="col-xxl-4 col-md-12 col-xl-3 col-lg-4">
                    <center><img src="../../static/images/logo/SPECTR-logo-new.png" class="img-fluid" width="100" height="150" alt="SPECTR"></center>
                    
                    <p class="text-white mt-3 text-center">At SPECTR, we believe in delivering state-of-the-art security and
                        surveillance solutions that ensure safety for your business and community. Our AI-driven systems
                        are designed to prevent theft, monitor environments, and provide real-time insights to help you
                        stay protected.</p>
                </div>
                <div class="col mt-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-3 mb-4 text-white">
                            <h4 class="fw-bolder mb-4">
                                Features
                            </h4>
                            <p><a id="footerhover" href="shoplifting"
                                    class="text-decoration-none">Shoplifting</a></p>
                            <p><a id="footerhover" href="robbery"
                                    class="text-decoration-none">Robbery</a></p>
                            <p><a id="footerhover" href=""
                                    class="text-decoration-none">Human Detection</a></p>
                        </div>

                        <div class="col-md-4 col-lg-4 col-xl-3 mb-4 text-white">
                            <h4 class="fw-bolder mb-4">
                                About
                            </h4>
                            <p><a id="footerhover" href="../about-us" class="text-decoration-none"><i
                                        class="bi bi-people-fill me-2"></i>Our Team</a></p>
                            <p><a id="footerhover" href="../privacy_policy" class="text-decoration-none"><i
                                        class="bi bi-shield-fill-check me-2"></i>Privacy and Policy</a></p>
                        </div>

                        <div class="col-md-4 col-lg-4 col-xl-4 mb-4 text-white">
                            <p class="text-white lead h1 text-uppercase fw-bold">Get connected with us!</p>
                            <div
                                class="d-flex justify-content-center align-items-center justify-content-xxl-start mb-3 mt-3">
                                <a href="#" class="me-4 text-reset fs-1">
                                    <i class="bi bi-facebook text-white"></i>
                                </a>
                                <a href="#" class="me-4 text-reset fs-1">
                                    <i class="bi bi-google text-white"></i>
                                </a>
                                <a href="#" class="me-4 text-reset fs-1">
                                    <i class="bi-github text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-5 mb-4 text-white">
                            <h4 class="fw-bolder mb-4">
                                Contact Us
                            </h4>
                            <p>
                                <i class="bi bi-envelope-at-fill me-1"></i>
                                spectr.detection@gmail.com
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-5 mx-auto mb-4 text-white">
                            <h4 class="fw-bolder mb-4">
                                Subscribe for Monthly Insights!
                            </h4>
                            <div class="d-flex">
                                <input type="email" class="form-control me-2" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter your email"
                                    style="outline: none;box-shadow: none;">
                                <button class="btn btn-outline-secondary fw-bold text-white">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="mt-5" style="height: 2px; background-color: white">

        <section class="text-center">
            <div class="text-center d-flex flex-column align-items-center justify-content-center">
                
                <p class="text-white">© 2024 Copyright: SPECTR</p>
            </div>
        </section>
    </footer>


    <!-- AtroposJS -->
    <script src="../../atropos/atropos.min.js"></script>
    <script src="../../static/js/paralax.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        window.onscroll = function () {
            changeNavbarColor();
        };

        function changeNavbarColor() {
            var navbar = document.getElementById("navbar");
            if (document.documentElement.scrollTop > 50) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        }

    </script>
</body>

</html>